Feature ENGG
---

In [1]:
import sys
import pandas as pd
sys.path.append('../Scripts')
from Feature_engg import TransactionProcessor

df=pd.read_csv('../Data/cleaned_data.csv')

In [2]:
processor = TransactionProcessor(df)
# processed_df = processor.process_data()

In [32]:

def encode_categorical_columns(df):
    """
    Encode categorical columns in the DataFrame.

    Parameters:
    df (pd.DataFrame): The input DataFrame to encode.

    Returns:
    pd.DataFrame: The DataFrame with encoded categorical columns.
    """
    # Step 1: Strip column names to remove any leading or trailing spaces
    df.columns = df.columns.str.strip()

    # Step 2: Encode 'ProductCategory' using One-Hot Encoding
    if 'ProductCategory' in df.columns:
        # Create dummies and drop the first category to avoid multicollinearity
        df = pd.get_dummies(df, columns=['ProductCategory'], prefix='ProductCategory', drop_first=True)

        # Convert newly created dummy columns from boolean to int
        product_category_cols = [col for col in df.columns if col.startswith('ProductCategory')]
        df[product_category_cols] = df[product_category_cols].astype(int)  # Ensure conversion to int

        # Check the values and types after conversion
        print("Product category columns after conversion:")
        print(df[product_category_cols].head())
        print("Data types after conversion:")
        print(df[product_category_cols].dtypes)

    # Step 3: Encode 'ProviderId', 'ProductId', and 'ChannelId' using Label Encoding
    for col in ['ProviderId', 'ProductId', 'ChannelId']:
        if col in df.columns:
            df[col] = df[col].astype('category').cat.codes  # Converts to numerical codes

    # Step 4: Encode 'CurrencyCode' if it has more than one unique value
    if 'CurrencyCode' in df.columns:
        if df['CurrencyCode'].nunique() > 1:
            df['CurrencyCode'] = df['CurrencyCode'].astype('category').cat.codes  # Converts to numerical codes
        else:
            print("Warning: 'CurrencyCode' has only one unique value, encoding may not be necessary.")

    # Step 5: Optional - Encoding 'TransactionStartTime' into separate date-time components
    if 'TransactionStartTime' in df.columns:
        df['TransactionStartTime'] = pd.to_datetime(df['TransactionStartTime'])
        df['TransactionYear'] = df['TransactionStartTime'].dt.year
        df['TransactionMonth'] = df['TransactionStartTime'].dt.month
        df['TransactionDay'] = df['TransactionStartTime'].dt.day
        df['TransactionHour'] = df['TransactionStartTime'].dt.hour
        df['TransactionWeekday'] = df['TransactionStartTime'].dt.dayofweek
        
        # Drop the original 'TransactionStartTime' column if needed
        df = df.drop(columns=['TransactionStartTime'])

    # Check the data types after encoding for debugging
    print("Final Data types after encoding:")
    print(df.dtypes)

    return df

# Example usage:
processor.df = encode_categorical_columns(processor.df)

# Display the DataFrame after encoding
print("After encoding categorical variables:")
display(processor.df.head())

Final Data types after encoding:
TransactionId                  object
BatchId                        object
AccountId                      object
SubscriptionId                 object
CustomerId                     object
CountryCode                     int64
ProviderId                       int8
ProductId                        int8
ChannelId                        int8
Amount                        float64
Value                         float64
PricingStrategy                 int64
FraudResult                     int64
total_transaction_amount      float64
average_transaction_amount    float64
transaction_count               int64
std_transaction_amount        float64
transaction_hour                int32
transaction_day                 int32
transaction_month               int32
transaction_year                int32
CurrencyCode_UGX                 bool
ProductCategory_0                bool
ProductCategory_1                bool
ProductCategory_2                bool
ProductCategory_3                bool
ProductCategory_4                bool
ProductCategory_5                bool
ProductCategory_6                bool
TransactionYear                 int32
TransactionMonth                int32
TransactionDay                  int32
TransactionHour                 int32
TransactionWeekday              int32
dtype: object
After encoding categorical variables:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ChannelId,Amount,...,ProductCategory_2,ProductCategory_3,ProductCategory_4,ProductCategory_5,ProductCategory_6,TransactionYear,TransactionMonth,TransactionDay,TransactionHour,TransactionWeekday
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,5,1,2,0.493808,...,False,False,False,False,False,2018,11,15,2,3
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,3,14,1,-0.644833,...,True,False,False,False,False,2018,11,15,2,3
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,5,0,2,-0.064349,...,False,False,False,False,False,2018,11,15,2,3
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,3,14,1,-1.341414,...,True,False,False,False,False,2018,11,15,3,3
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,5,12,2,1.610124,...,False,False,False,False,False,2018,11,15,3,3

In [33]:
print("Encoded DataFrame:")
print(processor.df.head())

# Check the data types to ensure correct encoding
print("Data types after encoding:")
print(processor.df.dtypes)

Encoded DataFrame:
         TransactionId        BatchId       AccountId       SubscriptionId  \
0  TransactionId_76871  BatchId_36123  AccountId_3957   SubscriptionId_887
1  TransactionId_73770  BatchId_15642  AccountId_4841  SubscriptionId_3829
2  TransactionId_26203  BatchId_53941  AccountId_4229   SubscriptionId_222
3  TransactionId_28195  BatchId_38780  AccountId_4841  SubscriptionId_3829
4  TransactionId_23223  BatchId_25954  AccountId_1078  SubscriptionId_4238

        CustomerId  CountryCode  ProviderId  ProductId  ChannelId    Amount  \
0  CustomerId_4406          256           5          1          2  0.493808
1  CustomerId_4406          256           3         14          1 -0.644833
2  CustomerId_4683          256           5          0          2 -0.064349
3   CustomerId_988          256           3         14          1 -1.341414
4  CustomerId_1432          256           5         12          2  1.610124

   ...  ProductCategory_2  ProductCategory_3  ProductCategory_4  \
0  ...              False              False              False
1  ...               True              False              False
2  ...              False              False              False
3  ...               True              False              False
4  ...              False              False              False

   ProductCategory_5  ProductCategory_6  TransactionYear  TransactionMonth  \
0              False              False             2018                11
1              False              False             2018                11
2              False              False             2018                11
3              False              False             2018                11
4              False              False             2018                11

   TransactionDay  TransactionHour  TransactionWeekday
0              15                2                   3
1              15                2                   3
2              15                2                   3
3              15                3                   3
4              15                3                   3

[5 rows x 34 columns]
Data types after encoding:
TransactionId                  object
BatchId                        object
AccountId                      object
SubscriptionId                 object
CustomerId                     object
CountryCode                     int64
ProviderId                       int8
ProductId                        int8
ChannelId                        int8
Amount                        float64
Value                         float64
PricingStrategy                 int64
FraudResult                     int64
total_transaction_amount      float64
average_transaction_amount    float64
transaction_count               int64
std_transaction_amount        float64
transaction_hour                int32
transaction_day                 int32
transaction_month               int32
transaction_year                int32
CurrencyCode_UGX                 bool
ProductCategory_0                bool
ProductCategory_1                bool
ProductCategory_2                bool
ProductCategory_3                bool
ProductCategory_4                bool
ProductCategory_5                bool
ProductCategory_6                bool
TransactionYear                 int32
TransactionMonth                int32
TransactionDay                  int32
TransactionHour                 int32
TransactionWeekday              int32
dtype: object

In [3]:
# Step 1: Convert Data Types
processor.convert_data_types()
# Check the DataFrame after data type conversion
print("After convert_data_types:")
display(processor.df.head())

After convert_data_types:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,airtime,ChannelId_3,2000.0,2000,2018-11-15T03:35:10Z,2,0

1.Create Aggregate Features
---
	
â—‹	Total Transaction Amount: Sum of all transaction amounts for each customer.

â—‹	Average Transaction Amount: Average transaction amount per customer.

â—‹	Transaction Count: Number of transactions per customer.

â—‹	Standard Deviation of Transaction Amounts: Variability of transaction amounts per customer.

In [4]:
# Step 2: Aggregate Features
processor.df = processor.aggregate_features()

# Check the DataFrame after aggregation
print("After aggregate_features:")
display(processor.df.head())

After aggregate_features:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0,50890.75,687.712838,74,852.34768
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0,50890.75,687.712838,74,852.34768
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0,1000.00,500.000000,2,0.00000
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0,7727.20,515.146667,15,1109.22756
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,airtime,ChannelId_3,2000.0,2000,2018-11-15T03:35:10Z,2,0,2000.00,2000.000000,1,NaN

2.Extract Features
---

â—‹	Transaction Hour: The hour of the day when the transaction occurred.

â—‹	Transaction Day: The day of the month when the transaction occurred.

â—‹	Transaction Month: The month when the transaction occurred.

â—‹	Transaction Year: The year when the transaction occurred.

In [5]:
# Step 3: Extract Time Features
processor.df = processor.extract_time_features()

# Check the DataFrame after extracting time features
print("After extract_time_features:")
display(processor.df.head())

After extract_time_features:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount,transaction_hour,transaction_day,transaction_month,transaction_year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,...,2,0,50890.75,687.712838,74,852.34768,2,15,11,2018
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,50890.75,687.712838,74,852.34768,2,15,11,2018
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,...,2,0,1000.00,500.000000,2,0.00000,2,15,11,2018
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,7727.20,515.146667,15,1109.22756,3,15,11,2018
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,airtime,...,2,0,2000.00,2000.000000,1,NaN,3,15,11,2018

3.Encode Categorical Variables
---
Convert categorical variables into numerical format by using:

â—‹	One-Hot Encoding: Converts categorical values into binary vectors.

â—‹	Label Encoding: Assigns a unique integer to each category.

In [6]:
# Step 4: Encode Categorical Variables
processor.df = processor.encode_categorical_variables(
    label_encode_cols=['ProductCategory'],
    one_hot_encode_cols=['CurrencyCode']
)

# Check the DataFrame after encoding categorical variables
print("After encode_categorical_variables:")
display(processor.df.head())

After encode_categorical_variables:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0,1000.00,500.000000,2,0.00000,2,15,11,2018,True
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,7727.20,515.146667,15,1109.22756,3,15,11,2018,True
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,0,2000.00,2000.000000,1,NaN,3,15,11,2018,True

5.Normalize/Standardize Numerical Features
---
Normalization and standardization are scaling techniques used to bring all numerical features onto a similar scale.

â—‹	Normalization: Scales the data to a range of [0, 1].

â—‹	Standardization: Scales the data to have a mean of 0 and a standard deviation of 1.

In [7]:
# Step 5: Scale Numerical Features
processor.df = processor.scale_numerical_features(columns=['Amount', 'Value'], method='standardize')

# Check the DataFrame after scaling numerical features
print("After scale_numerical_features:")
display(processor.df.head())

After scale_numerical_features:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0,1000.00,500.000000,2,0.00000,2,15,11,2018,True
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,7727.20,515.146667,15,1109.22756,3,15,11,2018,True
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,0,2000.00,2000.000000,1,NaN,3,15,11,2018,True

In [8]:
# Final check of the fully processed DataFrame
print("Final processed DataFrame:")
display(processor.df.head())

Final processed DataFrame:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0,1000.00,500.000000,2,0.00000,2,15,11,2018,True
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,7727.20,515.146667,15,1109.22756,3,15,11,2018,True
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,0,2000.00,2000.000000,1,NaN,3,15,11,2018,True

In [9]:
processor.save_cleaned_data('../Data/cleaned_feature_engg.csv')

Cleaned data saved to ../Data/cleaned_feature_engg.csv

In [11]:
df=pd.read_csv('../Data/cleaned_feature_engg.csv')
df

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,0,50890.75,687.712838,74,852.347680,2,15,11,2018,True
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,50890.75,687.712838,74,852.347680,2,15,11,2018,True
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0,1000.00,500.000000,2,0.000000,2,15,11,2018,True
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,7727.20,515.146667,15,1109.227560,3,15,11,2018,True
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,0,2000.00,2000.000000,1,NaN,3,15,11,2018,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57278,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,317440.00,626.114398,507,911.594990,9,13,2,2019,True
57279,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,0,28999.60,743.579487,39,890.037676,9,13,2,2019,True
57280,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,28999.60,743.579487,39,890.037676,9,13,2,2019,True
57281,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,256,ProviderId_6,ProductId_19,5,ChannelId_3,...,0,242041.00,573.556872,422,626.622667,10,13,2,2019,True
57282,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,242041.00,573.556872,422,626.622667,10,13,2,2019,True