In [1]:
import sys
import pandas as pd
sys.path.append('../Scripts')
from Feature_engg import TransactionProcessor

df=pd.read_csv('../Data/cleaned_data.csv')

In [2]:
processor = TransactionProcessor(df)
# processed_df = processor.process_data()

Feature ENGG
---
1.	Create Aggregate Features
	
○	Total Transaction Amount: Sum of all transaction amounts for each customer.

○	Average Transaction Amount: Average transaction amount per customer.

○	Transaction Count: Number of transactions per customer.

○	Standard Deviation of Transaction Amounts: Variability of transaction amounts per customer.


2.	Extract Features

○	Transaction Hour: The hour of the day when the transaction occurred.

○	Transaction Day: The day of the month when the transaction occurred.

○	Transaction Month: The month when the transaction occurred.

○	Transaction Year: The year when the transaction occurred.

In [6]:
# Step 1: Convert Data Types
processor.convert_data_types()
# Check the DataFrame after data type conversion
print("After convert_data_types:")
display(processor.df.head())

After convert_data_types:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,FraudResult,total_transaction_amount,average_transaction_amount,transaction_count,std_transaction_amount,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,50890.75,687.712838,74,852.34768,2,15,11,2018,True
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0,1000.00,500.000000,2,0.00000,2,15,11,2018,True
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,0,7727.20,515.146667,15,1109.22756,3,15,11,2018,True
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,0,2000.00,2000.000000,1,NaN,3,15,11,2018,True

In [7]:
# Step 2: Aggregate Features
processor.df = processor.aggregate_features()

# Check the DataFrame after aggregation
print("After aggregate_features:")
display(processor.df.head())

After aggregate_features:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,std_transaction_amount_x,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX,total_transaction_amount_y,average_transaction_amount_y,transaction_count_y,std_transaction_amount_y
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0.00000,2,15,11,2018,True,-0.128699,-0.064349,2,0.000000
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,1109.22756,3,15,11,2018,True,-0.711615,-0.047441,15,1.238248
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,NaN,3,15,11,2018,True,1.610124,1.610124,1,NaN

2.Extract Features
---

○	Transaction Hour: The hour of the day when the transaction occurred.

○	Transaction Day: The day of the month when the transaction occurred.

○	Transaction Month: The month when the transaction occurred.

○	Transaction Year: The year when the transaction occurred.

In [8]:
# Step 3: Extract Time Features
processor.df = processor.extract_time_features()

# Check the DataFrame after extracting time features
print("After extract_time_features:")
display(processor.df.head())

After extract_time_features:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,std_transaction_amount_x,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX,total_transaction_amount_y,average_transaction_amount_y,transaction_count_y,std_transaction_amount_y
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0.00000,2,15,11,2018,True,-0.128699,-0.064349,2,0.000000
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,1109.22756,3,15,11,2018,True,-0.711615,-0.047441,15,1.238248
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,NaN,3,15,11,2018,True,1.610124,1.610124,1,NaN

3.Encode Categorical Variables
---
Convert categorical variables into numerical format by using:

○	One-Hot Encoding: Converts categorical values into binary vectors.

○	Label Encoding: Assigns a unique integer to each category.

In [ ]:
# Step 4: Encode Categorical Variables
processor.df = processor.encode_categorical_variables(
    label_encode_cols=['ProductCategory'],
    one_hot_encode_cols=['CurrencyCode']
)

# Check the DataFrame after encoding categorical variables
print("After encode_categorical_variables:")
display(processor.df.head())

5.Normalize/Standardize Numerical Features
---
Normalization and standardization are scaling techniques used to bring all numerical features onto a similar scale.

○	Normalization: Scales the data to a range of [0, 1].

○	Standardization: Scales the data to have a mean of 0 and a standard deviation of 1.

In [9]:
# Step 5: Scale Numerical Features
processor.df = processor.scale_numerical_features(columns=['Amount', 'Value'], method='standardize')

# Check the DataFrame after scaling numerical features
print("After scale_numerical_features:")
display(processor.df.head())

After scale_numerical_features:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,std_transaction_amount_x,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX,total_transaction_amount_y,average_transaction_amount_y,transaction_count_y,std_transaction_amount_y
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0.00000,2,15,11,2018,True,-0.128699,-0.064349,2,0.000000
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,1109.22756,3,15,11,2018,True,-0.711615,-0.047441,15,1.238248
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,NaN,3,15,11,2018,True,1.610124,1.610124,1,NaN

In [10]:
# Final check of the fully processed DataFrame
print("Final processed DataFrame:")
display(processor.df.head())

Final processed DataFrame:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,...,std_transaction_amount_x,transaction_hour,transaction_day,transaction_month,transaction_year,CurrencyCode_UGX,total_transaction_amount_y,average_transaction_amount_y,transaction_count_y,std_transaction_amount_y
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,256,ProviderId_6,ProductId_10,0,ChannelId_3,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,852.34768,2,15,11,2018,True,10.744596,0.145197,74,0.951489
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,256,ProviderId_6,ProductId_1,0,ChannelId_3,...,0.00000,2,15,11,2018,True,-0.128699,-0.064349,2,0.000000
3,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,256,ProviderId_4,ProductId_6,2,ChannelId_2,...,1109.22756,3,15,11,2018,True,-0.711615,-0.047441,15,1.238248
4,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,256,ProviderId_6,ProductId_3,0,ChannelId_3,...,NaN,3,15,11,2018,True,1.610124,1.610124,1,NaN

In [13]:
processor.save_cleaned_data('../Data/cleaned_feature_engg.csv')

Cleaned data saved to ../Data/cleaned_feature_engg.csv